assets/
venv/
__pycache__/
*.pyc
*.log
*.lib
*.dll
*.a
*.so

libs/glfw/
libs/glm/

current_session.json
lighting.json
MeshTransformTable/
.vscode
DEPRECIATEDrun.sh
maybefiles/
engine_cache
build
dist

test.adts
test.gpseq
core/greko_native.cpython-313-x86_64-linux-gnu.so