native/glad/glad.c linguist-vendored
native/stb_image.h linguist-vendored
native/glad/glad.h linguist-vendored
native/KHR/khrplatform.h linguist-vendored

# Force GLSL and Shell to show up even if they are small percentages
*.glsl linguist-detectable=true
*.sh linguist-detectable=true
